@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:400,600');
@import 'abstracts/_variables';
@import 'abstracts/_mixins';
@import 'media/_queries';


* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  max-width: 120em;
}

.header {
  background-color: $myBlue;
  width: 100%;
  height: $header-size;
  position: fixed;
  z-index: 20;
  max-width: 120em;
}

.logo {

  background-color: $mySilver;
  width: 100%;
  height: $logo-size;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.logo-text {
  grid-area: 2 / 2 / 3 / 3;
  @include flex-center;
  h1 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 5em;
    color: $myBlack;
    z-index: 10;
  }
}

.logo-img {
  grid-area: 1 / 1 / -1 / -1;
  img {
    opacity: 0.6;
    width:100%;
    object-fit: cover;
    max-height: 30em;
    min-height: 30em;
  }
}


.carousel {
  background-color: yellow;
  width: 100%;
  height: $carousel-size;
}

.pricing {
  background-color: $myRed;
  width: 100%;
  height: $pricing-size;
  display: grid;
  grid-template: 1fr / 1fr 300px 1fr;
}

.pricing-info {
  grid-area: 1 / 2 / 2 / 3;
  @include flex-center;
  flex-direction: column;
  color: $myBlack;
  font-family: 'Hind Madurai', sans-serif;
}

.info-button {
  grid-area: 1 / 3 / 2 / -1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  color: $myBlack;
  font-family: $hind;
}

.events {
  background-color: $myBlack;
  width: 100%;
  height: $events-size;
  display: grid;
  grid-template-areas:
  "title title"
  "event1 event2"
  "event3 event4"
}

.event-title {
  background-color: $myBlack;
  font-family: $hind;
  font-size: 2em;
  color: $mySilver;
  grid-area: title;
  text-align:center;
}

.event-card1 {
  grid-area: event1;
  @include card-format;
}

.event-card2{
  grid-area: event2;
  @include card-format;
}

.event-card3 {
  grid-area: event3;
  @include card-format;
}

.event-card4 {
  grid-area: event4;
  @include card-format;
}



.blog {
  background-color: $mySilver;
  width: 100%;
  height: $blog-size;

}

.blog-title {
  text-align: center;
  color: $myBlack;
  font-size: 2em;
}

.blog-image {

  img {
    width: 45%;
    float:left;
    min-width: 250px;
    max-height: 18em;
  }
}

.blog-text {
  // grid-area: text;
}

.flex-container {
  display: flex;
}

.footer {
  background-color: $myBlue;
  width: 100%;
  height: $footer-size;
}
