$header-size: 2em;
$logo-size: 30em;
$carousel-size: 22em;
$pricing-size: 6em;
$events-size: 22em;
$blog-size: 22em;
$footer-size: 5em;

$myBlue: #50A0BA;
$myRed: #98413F;
$myBlack: #363337;
$mySilver: #CAC6BE;
$myBrown:  #8D746F;

$hind: 'Hind Madurai', sans-serif;
