@media only screen and (max-width: 550px) {
  .flex-container {
    flex-direction: column;
  }

  .events {
    grid-template-areas:
      'title'
      'event1'
      'event1'
      'event1'
      'event1' !important;
      img {
        max-height: 16em !important;
      }
  }
  .event-card2, .event-card3, .event-card4 {
    display: none !important;
    // max-height: 100% !important;
  }
}
